# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
a = 19
b = 19
print(a == b)
print(a is b)

True
True

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [2]:
print(isinstance(True, bool))
print(isinstance(True, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [3]:
a = 9
b = 3.5

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Addition: 12.5
Subtraction: 5.5
Multiplication: 31.5
Division: 2.5714285714285716
Floor division: 2.0
Modulus: 2.0
Exponentiation: 2187.0

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [4]:
print("2.5 in int: ", int(b))
print("True in int: ", int(True))

2.5 in int:  3
True in int:  1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [5]:
first = ""
second = str()
print(first)
print(second)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [6]:
print('String with apostrophe: It\'s')
print('Raw string :', r"It's")

String with apostrophe: It's
Raw string : It's

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [7]:
surname = "Kolinko"
my_surname = f"My surname is {surname}"
my_surname

'My surname is Kolinko'

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [8]:
sentence = "My dog is crazy"
words = sentence.split()
print(words)

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [9]:
first_list = [1, 2, 3, 4, 5]
second_list = list(("a", "b", "c", "d"))
len(first_list)

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [10]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.append(list2)

print(list1)

[1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [11]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix[-1][0])

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [12]:
list = [1, "hello", 3.14, True, None, [1, 2], (2, 3), {"key": "value"}, complex(1, 2), 100]
new_list = list[2:-2]
print(new_list)

[3.14, True, None, [1, 2], (2, 3), {'key': 'value'}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [13]:
element = (9,)
print(element)

(9,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

    Схожості:
Ітерабельні
Індексовані
Містять різні типи

    Відмінності:
Списки - змінні, кортежі - ні
Списки ініціалізуються [] дужками - кортежі ()
    
    Використання:
Списки використовують коли потрібно зберігати дані, які можуть змінюватися - кортежі ж навпаки для даних які не змінюються

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [14]:
float_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 10.3)
result=float_tuple[-2::-2]
print(result)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [15]:
empty=set()
empty.add(1)
empty.add(2)
empty.add(3)
print(empty)
#Yes they are

{1, 2, 3}

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [16]:
my_list = [1, 1, 2, 67, 67, 8, 9]
print(set(my_list))
#Sets can't have duplicates

{1, 2, 67, 8, 9}

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [17]:
first_set = {1, 2, 3, 4, 5}
second_set = {4, 5, 6, 7, 8}
union_set = first_set.union(second_set)
difference_set = first_set.difference(second_set)
intersection_set = first_set.intersection(second_set)
symmetric_difference_set = first_set.symmetric_difference(second_set)

print("Union of sets:", union_set)
print("Difference of sets:", difference_set)
print("Intersection of sets:", intersection_set)
print("Symmetric difference of sets:", symmetric_difference_set)

Union of sets: {1, 2, 3, 4, 5, 6, 7, 8}
Difference of sets: {1, 2, 3}
Intersection of sets: {4, 5}
Symmetric difference of sets: {1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [18]:
dict = {}
dict[1] = "Integer Key"
dict["name"] = "String Key"
dict[(1, 2)] = "Tuple Key"
dict[3.14] = "Float Key"
print(dict)
#List can't be a key cus it's changable

{1: 'Integer Key', 'name': 'String Key', (1, 2): 'Tuple Key', 3.14: 'Float Key'}

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [19]:
nested_dict = {
    "first_level": {
        "second_level": {
            "third_level": "Liberum"
        }
    }
}
print("Value on third level:", nested_dict["first_level"]["second_level"]["third_level"])

Value on third level: Liberum

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.